{% extends 'index.html.twig' %}

{% block head %}
    {% block css_files %}
        {{ parent() }}
    {% endblock %}
    {% block title %}<title>Main page</title>{% endblock %}
{% endblock %}

{% block pageClass %}page-main{% endblock %}

{% block content %}
    <a href="{{ postsUrl }}"
       class="link wow animate__animated animate__zoomInDown">View posts</a>
{% endblock %}
